body{
  margin: 0 auto;
}
.header {
  text-align: center;
  background-color: black;
  padding-bottom: 0px;
  color: white;
  position: fixed;
  width: 100%;
}

.mainpicture{
  text-align: center;
  background-color: black;
  padding-top: 70px;
}

.eyez {
  text-align: center;
  padding-top: 100px;
  padding-bottom:40px;
}
.header{
  margin: 0 auto;
  font-size: 75px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.intro {
  text-align: center;
  background-color: ;
}

.intro p {
  margin: 0;
  font-size: 22px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1{
  text-align: center;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  background-color: black;
  color:white;
  margin: 0 auto;
}

h2,
h3 {
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  color: black;
}

h3 {
  font-size: 32px;
}

.wrapper{
  background-color: #d3d3d3;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  font-size: 17px;
  padding-bottom:40px;
}

.album-list {
  text-align: left;
  max-width: 250px;
  margin: 0 auto;
  color: black;
}

.wrapper li{
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

table {
  max-width: 70%;
  margin: 0 auto;
  text-transform: uppercase;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

th,
td {
  border: 1px solid black;
  padding: 20px;
  font-size: 20px;
}

th {
  background-color: black;
  color: white;
}

.left,
.right {
  width: 50%;
  float: left;
}

.footer {
  clear:both;
  margin-top: 60px;
  text-align: center;
}
.links{
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}
